.portfolio-wrapper {
    background-color: white;
    padding: 48px 88px;
}

.portfolio__title {
    font-size: 24px;
    font-weight: 700;
    color: #2F2F51;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 992px) { 
    .hidden-img {
        display: none;
    }
    .qna-wrapper {
        width: 95vw;
    }
}

.img__portfolio:hover {
    box-shadow: 0px 4px 15px 0px #00000040;
    transition-duration: .3s;
    cursor: pointer;

}

.img__portfolio {
    border-radius: 3px;
}

.img__portfolio--1 {
    background-image: url(../images/portfolio/img-1.svg);
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    width: 214px;
    height: 214px;
}

.img__portfolio--2 {
    background-image: url(../images/portfolio/img-2.jpg);
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    width: 214px;
    height: 214px;
}

.img__portfolio--3 {
    background-image: url(../images/portfolio/img-3.svg);
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    width: 214px;
    height: 214px;
}

.img__portfolio--4 {
    background-image: url(../images/portfolio/img-4.svg);
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    width: 214px;
    height: 214px;
}